body{
    background-color: rgb(128, 191, 212);
    height: 100vh;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLs2-hzDxc79exTdGuGcCYlRJWAnc0nCh_Wg&s");
    background-size: cover;
    /* different background properties */
}