
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1
{
    font-family: "Urbanist", sans-serif;
    font-size: 900;
    font-style: italic;
}
.para
{
    font-family: "Urbanist", sans-serif;

    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    
}
.secpara
{
    font-family: "Urbanist", sans-serif;
    font-size: 900;
    font-weight: 100;
}

/*THIS IS FOR ANOTHER WAY TO IMPORT FONTS
@FONT-FACE
{
    font-family: "Urbanist";
    src: url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
}
*/