h1{
    color: rgb(203, 114, 114);
    font-size: 50px;
}
p{
    background-color: rgb(122, 172, 223);
    border: 5px solid black;
    color: white;

}
div{
    width: 400px;
    height: 300px;
    background-color: rgb(122, 172, 223);
    border-radius: 50%;

}