
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}
h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.shadow{
    width: 300px;
    height: 300px;
    background-color: rgb(207, 25, 55);
    padding: 40px;  
    border-radius: 50%;
    box-shadow: 0px 0px 40px 30px rgb(248, 158, 13);
  /* box-shadow: 10px 10px 5px rgb(246, 246, 13); */
}