*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(11, 6, 7);
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}

h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 40px 30px rgb(248, 158, 13);  */
    filter: drop-shadow(40px 40px 40px white);

}