h1{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

section{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: azure;

}
img{
    width: 50%;
    border-radius: 20px;
    /* filter: brightness(50%); */
        filter: grayscale();
        /* filter: sepia(); */
                /* filter: blur(5px); */


}