*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 14, 14);
    height: 100vh;
    width: 100%;
    /* display: grid; */
    /* place-items: center; */
}

h1{
    color: white;
    margin-top: 60px;
    padding-left: 40px;
    /* font-size: 50px;
    font-weight: bold;
    text-align: center;
} */}

.para p{
    color: white;
    /* margin: 40px; */
    margin-right: 50%;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;

    /* font-size: 20px;
    margin: 60px; */
}
button{
    padding: 10px 20px;
    /* background-color: rgb(207, 25, 55); */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    /* padding-top: 20px; */
}

a:hover{
    color: rgb(17, 216, 6);
}
a:visited{
    color: darkgoldenrod;
}
a:active{
    color: rgb(207, 25, 55);
}   