div{
    background-color: lightblue;
    padding: 20px;
}

.para{
    color: rgb(34, 0, 255);
    font-size: 20px;
    background-color: violet;
}

#para2{
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color: yellow;

}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
} 

/*
div{
    background-color: lightblue;
    padding: 20px;
}
    */